[Desktop Entry]
Encoding=UTF-8
Name=Enter
Comment=Enter P2P Cryptocurrency
Comment[fr]=Enter, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Enter, eşten eşe kriptografik sanal para birimi
Exec=enter-qt %u
Terminal=false
Type=Application
Icon=enter128
MimeType=x-scheme-handler/enter;
Categories=Office;Finance;
