[Unit]
Description=Enter's distributed currency daemon
After=network.target

[Service]
User=entercore
Group=entercore

Type=forking
PIDFile=/var/lib/enterd/enterd.pid
ExecStart=/usr/bin/enterd -daemon -pid=/var/lib/enterd/enterd.pid \
-conf=/etc/entercore/enter.conf -datadir=/var/lib/enterd -disablewallet

Restart=always
PrivateTmp=true
TimeoutStopSec=60s
TimeoutStartSec=2s
StartLimitInterval=120s
StartLimitBurst=5

[Install]
WantedBy=multi-user.target
